<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Gatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Amigos > Gatos > Lolla</ion-card-subtitle>
      <ion-card-title><ion-icon name="paw"></ion-icon> Lolla</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/lolla.jpg"></ion-img>
      <ion-list>Raça: SRD</ion-list>
      <ion-list>Sexo: Fêmea</ion-list>
      <ion-list>Idade: 3 anos</ion-list>
      <ion-list>Tranquila, treinada para fazer truques de sentar e dar a patinha!</ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
