<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Institucional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Se você deseja adotar algum de nossos amigos disponíveis, por favor entre em contato e agende uma visita!</p>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-text>Telefone: (11) 2222-3333</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>E-mail: contato@amipet.org</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>Endereço: Av. Paulista, 2000 - Bela Vista, São Paulo - SP, 01310-200</ion-text>
    </ion-item>
  </ion-list>
  <ion-img style="width: 80px; height: 80px;" src="assets/Amipets.png"></ion-img>
</ion-content>

