<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Resgate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Caso tenha encontrado um animal em situação de rua na 
      cidade de São Paulo, por favor nos envie suas informações
      de contato para o resgate</p>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input placeholder="Digite seu nome aqui"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input placeholder="Digite seu e-mail aqui"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input placeholder="Digite seu telefone aqui"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Aceito os termos de uso</ion-label>
  </ion-item>
  <ion-button>Enviar</ion-button>
</ion-content>