<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Cães</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Amigos > Cães > Totó</ion-card-subtitle>
      <ion-card-title><ion-icon name="paw"></ion-icon>Totó</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/toto.jpg"></ion-img>
      <ion-list>Raça: SRD</ion-list>
      <ion-list>Sexo: Macho</ion-list>
      <ion-list>Idade: 2 anos</ion-list>
      <ion-list>Adora brincar, perfeito para famílias com crianças!</ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>